---
import BasicLayout from "../layouts/BasicLayout.astro"
import Title from "../components/Title.astro"
---

<BasicLayout title="Error 404">
    <Title title="Error | 404" description="Page Not Found"/>
    <section class="items-start mt-8">
        This Url is not a valid one. Feel free to use the links below to reach a valid one.
    </section>
</BasicLayout>