---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Home">
	<h1 class="font-serif text-6xl">Linus Silberstein</h1>
	<p class="font-sans">Under Construction</p>
	<code class="font-mono">Coming soon</code>
</BasicLayout>
