---
const { badges } = Astro.props;
---

<div class="flex gap-2 py-1 font-mono text-s">
    {badges.map((badge) => {
        return <a 
            href={`/tags/${badge}`}
        class="hover:underline px-2 teyt-dark dark:text-white">{badge}</a>
    })}
</div>