
<section class="items-start mt-8">
    <p>
        Hi! I am a computer science student. I am interested in computers and the chances and challenges they
        may introduce in our way of living.
    </p>
</section>