---
const { title, items, type } = Astro.props;
---

<section class="items-start mt-8">
    <h2 class="text-xl font-semibold font-mono">{title}</h2>
    <ul class="list-disc list-inside">
        {
            items.map((item) => (
                <li>
                    <a
                        href={`/${type}/${item.slug}`}
                        class="hover:underline text-accent vistited:text-secondary"
                    >
                        {item.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</section>
