---
const { title, items } = Astro.props;
---

<section class="items-start mt-8">
    <h2 class="text-2xl font-serif">{title}</h2>
    <ul class="list-disc list-inside">
        {
            items.map((item) => (
                <li>
                    <a
                        href={`/projects/${item.slug}`}
                        class="hover:underline text-blue-500 visited:text-purple-800 visited:dark:text-purple-400"
                    >
                        {item.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</section>
