---
import { getCollection } from "astro:content";

const { theme } = Astro.props;

const allProjects = await getCollection('project');
const projectstring = allProjects.map((project) => (project.data.title)).join(' +++ ')
const allPosts = await getCollection('post');
const poststring = allPosts.map((post) => (post.data.title)).join(' +++ ')
const marqueetext = projectstring + ' +++ ' + poststring
---

<section class=`section ${theme.light} dark:${theme.dark} text-white font-mono`>
    <a href="/" class="marquee hover:underline">
       {marqueetext} 
    </a>
</section>

<style>
    @keyframes marquee {
        0% {
            margin-left: 100%;
            transform: translateX(0%);
        }
        100% {
            margin-left: 0;
            transform: translateX(-100%);
        }
    }

    .section {
        overflow: hidden;

        .marquee {
            animation: marquee 30s linear infinite;
            display: inline-block;
            white-space: nowrap;

            &:hover {
                animation-play-state: paused;
            }
        }
    }
</style>
