---
import { getCollection } from "astro:content";

const allProjects = await getCollection('project');
const allPosts = await getCollection('post');

// Map all items from both promises into a single list
var list = []; 
list.push(allProjects.map((project) => {
    return {
        slug: `projects/${project.slug}`,
        title: project.data.title
    }
}));
list.push(allPosts.map((post) => {
    return {
        slug: `posts/${post.slug}`,
        title: post.data.title
    }
}));

// Randomize Order of the list
const merged = list.flat(1)
    .map((item) => {
        return {
            slug: item.slug,
            title: item.title,
            sort: Math.random()
        }
    })
    .sort((a,b) => a.sort - b.sort)
    .map((item) => {
        return {
            slug: item.slug,
            title: item.title
        }
    });
console.log(merged)
---

<div class=`relative flex overflow-x-hidden bg-primary dark: text-white font-mono`>

    <section class="gap-4 animate-marquee whitespace-nowrap">
        {
            merged.length > 0 && merged.map((item) => (
                <a href={`/${item.slug}`} class="hover:underline">{item.title}</a>
                <p class="inline"> +++ </p>
            ))
        }
    </section>
</div>
