---
import Head from "../components/Head.astro";

const { title } = Astro.props;

const year = new Date().getFullYear()
---

<html lang="en-US">
	<Head title={title} />
	<body class="bg-white dark:bg-dark">
		<div
			class="flex items-center w-full flex-col gap-2 p-4 md:p-8 text-dark dark:text-white"
		>
			<div class="w-full max-w-xl">
				<slot />
				<small>Linus Silberstein, {year}</small>
			</div>
		</div>
	</body>
</html>
