---
import Head from "../components/Head.astro";

const { title, marqueetext } = Astro.props;
---

<html lang="en">
	<Head title={title} />
	<body>
		{marqueetext && <marquee class="bg-purple-600 text-white font-mono">
			{marqueetext}
		</marquee>}
		<div class="flex items-center w-full flex-col gap-2 p-4 md:p-8 min-h-screen">
			<div class="w-full max-w-xl">
				<slot />
			</div>
		</div>
	</body>
</html>
